<template name="addUser">
  <div class="content">
    <form role="form">
      <div class="form-group">
        <label for="InputNome">Nome</label>
        <input type="text" class="form-control" name="InputNome" placeholder="nome do utilizador">
      </div>
      <div class="form-group">
        <label for="InputUserName">Username</label>
        <input type="text" class="form-control" name="InputUserName" placeholder="username">
      </div>
      <div class="form-group">
        <label for="InputPassword">Password</label>
        <input type="text" class="form-control" name="InputPassword" placeholder="password">
      </div>
      <div class="form-group">
        <label for="InputEmail">email</label>
        <input type="text" class="form-control" name="InputEmail" placeholder="email">
      </div>
      <button type="submit" class="btn btn-default">Inserir</button>
    </form>
  </div>
</template>